{{#each content}}
    <h3>
        General Process Info
    </h3>
    <dl class="general-server-settings">
        <dt>Uptime</dt>
        <dd>{{uptime}} sec</dd>

        <dt>Platform</dt>
        <dd>{{platform}}</dd>

        <dt>Pid</dt>
        <dd>{{pid}}</dd>

        <dt>Version</dt>
        <dd>{{version}}</dd>

        <dt>Args</dt>
        <dd>{{args}}</dd>
    </dl>
{{/each}}
